

.logWindow {
    border: 2px solid grey;
    height: 250px;
    overflow-y: auto;
    padding: 1rem;
    font-family: "Courier New", Courier, monospace;
    border-radius: 0.25rem;
    margin: 1rem 0;
}

.logWindow p {
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 12px;
}

p.error {
    background-color: rgba(255, 7, 7, 0.57);
}

.logWindow p span {
    font-weight: bold;
    color: darkgray;
    margin-right: 5px;
}

.logWindow p span.time {
    color: #1a1a41;
}

.logWindow p span.error {
    color: darkred;
}

.logWindow p span.warning {
    color: #ff8a07;
}

.logWindow p span.good {
    color: darkgreen;
}

.canvasContainer {
//border: 1px solid black;
}

#main_map {
    /*border: 4px solid black;
    border-radius: 0.25rem;
    margin: 1rem 0;*/
    margin: 0;
    padding: 0;

}

#zoom_map {
    border: 4px solid red;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.controls div {
    padding: 0.5rem;
}

.controls button {
    border: none;
    border-radius: 0.25rem;
    background-color: #cccccc;
    color: #ff472a;
    font-weight: bold;

}


.field span {
    color: #00d1b2;
}

.tabbed-item button {
    width: 100%;
    margin-bottom: 5px;
}

.zoom-map-container {
    display: flex;
    flex-direction: column;
}

.current-nav-info {
    text-align: center;
}

#zoom_map {
    width: 300px;
    align-self: center;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #00d1b2;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00d1b2;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #00d1b2;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #00d1b2;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #00d1b2;
}
input[type=range]::-ms-fill-upper {
    background: #00d1b2;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #00d1b2;
}

.zoom-map-container {
    justify-content: center;
}

.zoom-map-container canvas {
    display: flex;
}

.tile-info-container {
    flex-direction: column;
}